body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #111;
}

.csint-contact-page-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* HERO SECTION */
.csint-contact-hero-section {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}

.csint-contact-hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

.csint-contact-hero-text h1 {
    font-size: 69.7px;
    letter-spacing: 4px;
    margin: 0;
}

.csint-contact-hero-text p {
    font-size: 16.3px;
    margin-top: 10px;
    letter-spacing: 2px;
}

/* CONTACT NAV */
.csint-contact-nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px 0;
    font-size: 14px;
}

.csint-nav-item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: "Montserrat", sans-serif;
    font-size: 15.7px;
    font-weight: 600;
}

.csint-nav-item img{
    width: 35px;
    margin-right: 35px;
}

.csint-nav-item p{
    position: relative;
}

.csint-nav-item p:after {
    position: absolute;
    top: -3px;
    left: -17px;
    width: 2px;
    height: 23px;
    content: " ";
    background-color: #000000;
}

/* TITLE */
.csint-contact-section-title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-top: 40px;
}

.divider {
    width: 100%;
    height: 2px;
    background: #000;
    margin: 25px 0 40px;
}

/* INFO BLOCKS */
.csint-info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.csint-info-box h4 {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 10px;
}

.csint-info-box p {
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    width: 225px;
    line-height: 1.8;
}

/* BOTTOM SECTION */
.csint-contact-bottom-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
    gap: 60px;
}

/* FORM */
.csint-contact-form-area h3,
.csint-contact-details h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
}

form label {
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 90%;
    background: #eee;
    border: none;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 3px;
    font-family: inherit;
}

button {
    width: 90%;
    padding: 12px;
    background: #000;
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

/* CONTACT DETAILS */
.csint-contact-details p {
    font-size: 13px;
    margin-bottom: 20px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .csint-info-grid {
        grid-template-columns: 1fr 1fr;
    }

    .csint-contact-bottom-section {
        grid-template-columns: 1fr;
    }
}