.csint-hero {
  text-align: center;
}

.csint-title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 73px;
  font-weight: 800;
  margin-bottom: 65px;
  color: #1a1414;
  margin-top: 77px;
}

.csint-img {
  width: 755px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.csint-img .csint-item {
  width: 245px;
  position: relative;
}
.csint-img .csint-item .csint-center {
  width: 245px;
  height: 245px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.csint-img .csint-item .csint-center p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 30.5px;
}

.csint-img .csint-item img {
  width: 100%;
  display: block;
}
.csint-img .csinit-paymet-m {
  display: flex;
  justify-content: center;
  align-items: center;
}
.csint-img .csinit-paymet-m img {
  width: 50%;
  display: block;
}
.csint-img .csint-overlay::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff87;
}

.csint-divider {
  border-top: 2px solid #2e2e2e;
  margin: 19px 0;
}

.csint-container {
  width: 1140px;
  margin: 0 auto;
  margin-top: 160px;
}

.csint-container .csint-heading {
  width: 536px;
}

.csint-heading h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 49.5px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 0;
}

.csint-bottom-img {
  width: 855px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 160px;
}

.csint-bottom-img .csint-item {
  width: 278px;
}

.csint-bottom-img .csint-item img {
  width: 100%;
  display: block;
}

.csint-sidebyside-content {
  display: flex;
  flex-wrap: wrap;
  gap: 43px 83px;
}

.csint-sidebyside-item {
  width: 46%;
}

.csint-sidebyside-item h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
.csint-sidebyside-item p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: justify;
}
